@*
    This view is a simple confirmation page displayed after a user submits the
    "Forgot Password" form. It instructs them to check their email for the reset link.
*@
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        @* This provides the user with the next step in the password reset process. *@
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</main>
