@*
    This view is displayed after a user has successfully completed the password reset form.
    It provides confirmation that the action was successful and offers a direct link to the login page.
*@
@{
    ViewBag.Title = "Reset Password Confirmation";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            @* Confirmation message for the user. *@
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
